.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.app-container input {
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 25px;
  outline: none;
}

.app-container h4 {
  margin-top: 20px;
}
